
    {% extends "BlogCoder/pagina_principal.html "%}

    {% block content %}

        {% if user.is_autheticated %}
            {% if avatar %}
            <img height="40px" src="{{ avatar }}"/>
            {% endif %}
                <!-- {if avatar }
                    <img height= "40px" src='{{ avatar.imagen.url }}' alt="">
                { endif } -->
            <br>
            <p>Bienvenido: {{user.username}}</p>
            
        {% endif %}

        <!-- {% if avatar %}
            <img height="40px" src="{{ avatar }}"/>
        {% endif %}

        {% if user.is_authenticated %}
            Bienvenido: {{user.username}}
        {% endif %} -->


        <br>
        <a href="{% url 'Blogs' %}">Blogs</a>
        <br><br>
        <a href="{% url 'Users' %}">Usuarios</a>

    {% endblock %}
    
