<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-list</title>
</head>
<body>
    {% extends "BlogCoder/padre.html" %}
    {% block contenido_padre %}
    <h3>Lista de usuarios:</h3>
    <ul>
        {% for user in usuarios %}
        <li>
            <!--<p>{{user.first_name}} {{user.last_name}}</p>-->
            <p>{{user.username}}</p>
            <a href="{% url 'EditarPerfil' %}">Editar Usuario</a> 
            --
            <a href="{% url 'UserDelete' user.id %}">Borrar Usuario</a> 
        </li>
        {% endfor %}
        <br><br><br>
        ---<a href="{% url 'Inicio' %}">volver al inicio</a> ---
    </ul>
    
    {% endblock %}
    
</body>
</html>